<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixinyiyi.dao.YangShengMapper">
    <select id="findAllYangSheng" resultType="com.yixinyiyi.entity.YangSheng">
        select * from yangsheng
    </select>
    <select id="findAllReason" resultType="com.yixinyiyi.entity.Reason">
        select * from reason
    </select>
    <select id="findYangSheng" parameterType="String" resultType="com.yixinyiyi.entity.YangSheng">
        select * from yangsheng where season = #{season}
    </select>
    <select id="findReason" parameterType="String" resultType="String">
        select reason from reason where season = #{season}
    </select>
    <select id="findImage" parameterType="String" resultType="String">
        select image from reason where season = #{season}
    </select>
</mapper>